<server>
    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>beanValidation-2.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="19080"/>
    <variable name="default.https.port" defaultValue="19443"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <webApplication location="todo-list-gateway.war" contextRoot="todo-list-gateway"/>

    <cors domain="/"
          allowCredentials="true"
          allowedHeaders="ACCEPT, AUTHORIZATION, CONTENT_TYPE, ORIGIN"
          allowedMethods="GET, POST, PUT, DELETE, OPTIONS, HEAD"
          allowedOrigins="*"
          maxAge="3600"/>

    <logging traceFileName="stdout" traceSpecification="*=audit:de.openknowledge.*=debug"/>

    <mpMetrics authentication="false"/>
</server>