<server description="${project.name}">
    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>beanValidation-2.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="hello-world"/>

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <webApplication location="hello-world.war" contextRoot="${app.context.root}"/>

    <cors domain="/"
          allowCredentials="true"
          allowedHeaders="ACCEPT, AUTHORIZATION, CONTENT_TYPE, ORIGIN"
          allowedMethods="GET, POST, PUT, DELETE, OPTIONS, HEAD"
          allowedOrigins="*"
          maxAge="3600"/>

    <logging traceFileName="stdout" traceSpecification="*=audit:de.openknowledge.*=debug"/>

    <mpMetrics authentication="false"/>
</server>